body{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
 /* background-color: #0784a7;*/
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: rgb(255, 115, 0);
  

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.blog {
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 
  padding: 5%;
 
  margin-bottom: 5%;
  background-color: rgb(255, 255, 255);
}

.blog:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.title{
  text-align: center;
  background-color:rgb(255, 115, 0);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5%;
  color: rgb(255, 255, 255);
  
}
a:link{
  text-decoration: none;
}
h5{
  color:rgb(255, 115, 0);
}
h1{
  color:rgb(0, 0, 0);
  text-align: center;
}
input {
  width : 10%;
  margin-right: 80%;
  margin-bottom: 2%;
  height: 30px;
 
  
}
textarea {
  width : 40%;
  margin-right: 20%;
  margin-bottom: 2%;
  height: 200px;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
